#######################################
#
#   Project specific ignore files. 



#ignore target directories
project/target/
target/


#ignore the run time data files
src/deploy/conf/data.conf
src/deploy/conf/data.conf.old

#ignore the eclipse files
.project
.classpath
.settings
.vscode
#
#######################################



#ignore thumbnails created by windows
Thumbs.db

# IntelliJ files
.idea/
*.iml

node_modules/

# UI SDK specific CDT packages
.cdt/

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*~
*.orig
*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#JAVA 
*.class

# Package Files 
*.jar
*.war
*.ear
*.tar
