<div class="eaNpamapp-NeAccountTable">   
       <h2 class="eaNpamapp-NeAccountTable-SectionHeading">
        <div class="eaNpamapp-NeAccountTable-SectionHeading-title-count">
            <span class="eaNpamapp-NeAccountTable-SectionHeading-title">{{dictionary.table.headerNEAccount}}</span>
            <span class="eaNpamapp-NeAccountTable-SectionHeading-count"></span>
            <span class="eaNpamapp-NeAccountTable-SectionHeading-count-separator"></span>
            <span class="eaNpamapp-NeAccountTable-SectionHeading-selected-label"></span>
            <span class="eaNpamapp-NeAccountTable-SectionHeading-selected-clear">
              <span class="eaNpamapp-NeAccountTable-SectionHeading-selected-clear-separator"></span>
              <a class="eaNpamapp-NeAccountTable-SectionHeading-selected-clear-link ebColor_textLinkBlue" ></a>              
            </span>
            <span class="eaNpamapp-NeAccountTable-SectionHeading-selected-separator"></span>
            <span class="eaNpamapp-NeAccountTable-SectionHeading-filtered-label"></span>
            <a href="javascript:;" class="eaNpamapp-NeAccountTable-SectionHeading-filtered-clear ebColor_textLinkBlue" ></a>
            <span class="eaNpamapp-NeAccountTable-SectionHeading-tableSettings">
                <button class="ebBtn ebBtn_subtle">
                    <i class="ebIcon ebIcon_settings "></i>
                </button>
            </span>
        </div>
        <div class="eaNpamapp-NeAccountTable-SectionHeading-clean"></div>
        <div class="eaNpamapp-NeAccountTable-SectionHeading-selectAllNotification"></div>
    </h2>
   <div class="eaNpamapp-NeAccountTable-TableHolder"></div>
 </div>